:root {
    --primary-color: #f7f7f7;  /* Negru */
    --secondary-color: #ffffff; /* Alb căpșună */
    --accent-color: #00542e;    /* Roșu intens */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Umbre subtile */
    --text-color: rgb(38, 38, 38);
}

*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--shadow-color);
    color: var(--text-color);
    max-width: 100%;
    overflow-y: hidden;
}

header {
    display: flex;
    position: relative;
    text-align: center;
    color: var(--secondary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    height: 60px;
    background-color: var(--secondary-color);
}
.logo,
 .logo a{
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.logo h1{
    color: var(--text-color);
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}
.logo h2{
    color: var(--text-color);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style:italic;
}
.title h1 {
    margin: 0;
    font-size: 2em;
}

.title p {
    margin: 0;
    font-size: 1.2em;
}

.burger-menu {
    position: absolute;
    display: inline-block;
    display: none;
    cursor: pointer;
    z-index: 1000;
    top: 15px;
    right:4px;
}

.burger-menu span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--accent-color);
    margin: 5px 0;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.burger-menu span:active {
    background-color: var(--accent-color);
}

.burger-menu.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: var(--accent-color);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
    background-color: var(--accent-color);
}

.burger-menu.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    background-color: var(--accent-color);
}

nav {
    position: relative;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: var(--accent-color);
    z-index: 999;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul li {
    font-size: 1.2rem;
    margin: 0 15px;
    padding: 5px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

/* Font Awesome CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.fixed-button {
    position: absolute;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 30px;
    border-radius: 50%;
    box-shadow: 0 4px 8px var(--shadow-color);
    color: var(--secondary-color);
    background-color: var(--accent-color);
    font-size: 2em;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1000;
}

.fixed-button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.call-button {
    left: 30px;
}

.whatsapp-button {
    right: 30px;
}
.fixed-button span{
    color: var(--text-color);
    font-size: .7rem;
    text-decoration: solid;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto;
}

.title {
    min-width: 100%;
    justify-content: center;
    text-align: center;
}
/* Ascunde submeniul implicit */
.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.submenu li {
    padding: 5px 0;
}

#transport-persoane:hover .submenu {
    display: block; /* Afișează submeniul când treci cu mouse-ul pe "Transport persoane" */
}
/* Stiluri generale pentru meniu */
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

#menu li {
    position: relative;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    background-color: #333;
}

#menu a:hover {
    background-color: #444;
}

/* Submeniu ascuns implicit */
.submenu {
    display: none;
    position: absolute;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    z-index: 1;
}

.submenu li {
    width: 200px;
}

.submenu li a {
    padding: 10px;
    background-color: #444;
    color: white;
}

.submenu li a:hover {
    background-color: #555;
}

/* Afișează submeniul când este activ */
#transport-persoane:hover .submenu,
#transport-colete:hover .submenu,
#retele-sociale:hover .submenu,
#contact:hover .submenu {
    display: block;
}

/* Stil pentru iconița de submeniu */
.submenu-icon {
    margin-left: 10px;
    font-size: 12px;
    display: inline-block;
    transition: transform 0.3s ease;
}

/* Rotește iconița când submeniul este deschis */
#transport-persoane:hover .submenu-icon,
#transport-colete:hover .submenu-icon,
#retele-sociale:hover .submenu-icon,
#contact:hover .submenu-icon {
    transform: rotate(180deg);
}


/* Responsive Styling */
@media (max-width: 768px) {
    .burger-menu {
        display: inline-block;
    }
    nav{
        display: none;
    }

    nav.menu.active {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        left: 0;
        margin: 0 auto;
    }

    .title h1 {
        font-size: 1.5em;
        color: var(--text-color);
    }

    .title p {
        font-size: 1em;
    }
}
